@font-face {
  font-family: 'pixel';
  src: url('fonts/silkscreen.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'luci';
  src: url('fonts/lucidaconsole.ttf');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .popupfamily {
    width: 60%; /* Adjust width for smaller screens */
}
  .familypicture{
    width: 200px !important;
  }
  .conwin{
    width: 300px !important;
  }

  .console{
    display: none !important;
  }

  #canvas{
    width: 300px !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: url('pics/wallpaper/shiki.png') no-repeat center center fixed;;
  background-size: cover;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-family: pixel;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.main-site{
  display: none
}

#loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('pics/wallpaper/pitchb.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#fadeinout{
  display: none; 
}

#LogoLoad {
  width: 300px;
}

.loading-slider {
  color: white;
}


body.loaded #loading-animation {
  display: none;
  background-image: url('pics/wallpaper/sunako.png');
}
  

  .desktop {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  
.noteswindow{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: silver;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  text-align: center;
}


#close-notes-ui{
position: absolute;
right: 3px;
top: 1.5px;
cursor: pointer;
color: #000;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
background-color: silver;
}

  button{
    font-family: pixel;
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
    cursor: pointer;
  }

  button:active{
    box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;

  }
  
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: move;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 3));
    cursor: pointer;
    margin: 10px;
    color: white;
}

  .icon img {
    display: block;
    width: 50px; /* Set the width of the image to 50px */
    height: auto; /* Maintain aspect ratio */
}

  .popup-text {
    margin-bottom: 20px;
  }
  
  .close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
  }

#rpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  z-index: 9999;
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: silver;
}

#close-btn2{
  position: absolute;
  right: 3px;
  top: 1.5px;
  cursor: pointer;
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: silver;
}

#tpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  z-index: 9999;
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
}

.popup-content {
  text-align: center;
}

#close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
    background: #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 199999999999999; /* Ensure .taskbar is below #start-window */
    overflow: hidden;
    -webkit-box-shadow: 0px -6px 7px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: 0px -6px 7px 0px rgba(34, 60, 80, 0.24);
    box-shadow: 0px -6px 7px 0px rgba(34, 60, 80, 0.24);
    border-top: 2px solid #efefef;
  }

  .time{
    color: #000;
    border-top: 2px solid #666;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid #666;
    background-color: silver;
    line-height: 30px;
    height: 29px;
    width: auto;
    padding: 0px;
    float: right;
    margin: 10px;
  }

  .retard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .test-retard, .start, .game{
    margin-right: 5px;
  }
  

  .start{
    background-image: url('pics/logo_small.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 5px center;
    background-position: 5px center;
    height: 29px;
    width: 29px;
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
    padding: 0px;
    margin-left: 10px;
  }

  .start.active{
    box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
  }


  .start img{
    width: 20px; /* Set the width of the image to 50px */
    height: auto; /* Maintain aspect ratio */

  }

  #changeBackground:active{
    box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
  }

  #formattingBtn:active{
    box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
  }

  #redirectButton:active{
    box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
  }

  .game, .test-retard, #player {
    line-height: 30px;
    height: 29px;
    width: auto;
    padding: 0px;
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
}

.test-retard.active{
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}

#player.active{
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}
.game.active{
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}


  #start-window {
    position: fixed;
    bottom: 40px; /* Adjust this value based on the height of .taskbar */
    left: 0;
    background-color: #f1f1f1;
    padding: 30px;
    border: 1px solid #ccc;
    z-index: 2; 
    width: fit-content;
    margin: 0;
    padding: 0;
}

#start-window button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px; /* Set a fixed width for the button */
  height: 20px; /* Set a fixed height for the button */

  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: silver;
  padding: 3px;
}
  
  .music-player {
    display: none;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
  }

  .player-image{
    width: 300px;
  }

  .popupfamily{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    text-align: center;
  }

  .familypicture{
    pointer-events: none;
    width: 500px;
  }

.bar{
  cursor: grab;
  background: linear-gradient(135deg, #f0f 0, #0ff 100%);
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  justify-content: space-between;
  width: calc(100% - 11px);
  height: 13px;
  color: white;
  padding: 2px 3px 3px;
  margin: 3px 2px 1px 3px;

  border: 1px solid rgb(120, 117, 117)
}

.bar-text-ui{
  position: absolute;
  left: 3px;
}

  #closeBtn {
    position: absolute;
    right: 3px;
    top: 1.5px;
    cursor: pointer;
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
}

#close-btn{
  position: absolute;
  right: 3px;
  top: 1.5px;
  cursor: pointer;
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: silver;
}

#close{
  position: absolute;
  right: 3px;
  top: 1.5px;
  cursor: pointer;
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: silver;
}

  #popupretard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
  }


.controls{
  margin-top: 10px;
}

#play:active, #stop:active, #skip:active, #mute:active{
  box-shadow: inset -1.5px -1.5px 0 0 #fcfcfc, inset 1.5px 1.5px 0 0 #263238, inset -3px -3px 0 0 #cac6cb, inset 3px 3px 0 0 #a099a1;
}


#app1:hover, #app2:hover, #app3:hover, #app4:hover{
  background-color: rgb(104, 104, 104);
  box-shadow: inset 0 0 0 1px #9d9d9d; /* Adjust the spread radius and color as needed */
}


.conwin{
  position: fixed;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.console{
height: inherit;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
white-space: pre;
font-family: monospace;
color: white;
}


#close-console-ui{
position: absolute;
right: 3px;
top: 1.5px;
cursor: pointer;
color: #000;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
background-color: silver;
}

#windowG{
  width: 600px; 
  height: 600px; 
  border: 1px solid black; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: silver;
}

#svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#no-phones-svg {
  width: 50px;
  height: 50px;
  display: none;
}

.red-text {
  color: red;
}
